[submodule "middlewares/rtt_log"]
	path = middlewares/rtt_log
	url = git@github.com:WiseMCU/EasyUseMcuTools.git
	branch = rtt_log
[submodule "middlewares/svpwm"]
	path = middlewares/svpwm
	url = git@github.com:WiseMCU/EasyUseMcuTools.git
	branch = svpwm
[submodule "middlewares/filter"]
	path = middlewares/filter
	url = git@github.com:WiseMCU/EasyUseMcuTools.git
	branch = filter
[submodule "middlewares/pid"]
	path = middlewares/pid
	url = git@github.com:WiseMCU/EasyUseMcuTools.git
	branch = pid
